.circle{
    height: 300px;
    width: 300px;
    background-color: magenta;
    border-radius: 50%;
    /* border: none; */
}

.oval{
    height: 400px;
    width: 300px;
    background-color: rgb(227, 241, 179);
    border-radius: 50%;
}
.square{

    height: 300px;
    width: 300px;
    background-color: purple;
}

.rect{
    height: 300px;
    width: 600px;
    background-color: blueviolet;
}