*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;

}

h1{

    background-color: aqua;
    height: auto;
    width: fit-content;
    

    padding: 20px 40px;
    /* padding: 20px up bottom  40px left right ; */
    margin: 50px  100px;
    /* margin: 50px up bottom 100px left right  ; */
    border: 5px dashed  blueviolet;
}