/* Before and Afer Pseudo Selector */
body::before{
    content: "";
    display: block;
 background: linear-gradient(blue, white, red);
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.this{
    content: ;
    display: block;
    border-bottom: 4px dashed black;
}


/* Hover and Active */

a:hover{
    background-color: black;
}
a:active{
    background-color: magenta;
}
button{
     padding: 10px 20px;
    border-radius:20px ;
}
button:hover{
    padding: 20px 30px;
    background-color: burlywood; 
    background: linear-gradient(blue, white, red);
}
button:active{
  background: linear-gradient(red, white, blue);
  

}
p{
    font-size: 25px;
    text-align: center;
    height: 50px;
    background: linear-gradient(blue, white, red);
}
